@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*font-family: 'Roboto', sans-serif;*/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/*font-family: 'Bebas Neue', cursive;*/

/* ---Estrutura da página--- */

* {
  margin: 0;
  padding: 0;
}

/*body {
   background-color: #ff3251; 
  background-image: url("https://yt3.ggpht.com/f8fJ_v4cN9JdZqNyt7IWcZ1MPGOExU20vvCsT0jUM9dDILhJKA03R7BurgySDZ-3s86p3uvTjA=s900-c-k-c0x00ffffff-no-rj");
  overflow-x: hidden;
}*/

.titulo {
  font-family: "Bebas Neue", cursive;
  color: #fdc41f;
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
  margin-top: 30px;
}

.subtitulo {
  font-family: "Bebas Neue", cursive;
  color: #fdc41f;
  text-align: center;
  font-size: 25px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.479);
}

.imagens {
  margin-left: 0.5vw;
  width: 98vw;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin-top: 20px;
}

.imagens img {
  border-radius: 20px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.308);
  cursor: pointer;
  margin: 4px;
  opacity: 80%;
}

/* ---Artistas confirmados - TOPO--- */

#the-rock:hover {
  opacity: 100%;
  transition: 0.8s;
}

#fabio-melo:hover {
  opacity: 100%;
  transition: 0.8s;
}

#ivete-sangalo:hover {
  opacity: 100%;
  transition: 0.8s;
}

#gil-vigor:hover {
  opacity: 100%;
  transition: 0.8s;
}

/* ---Sessão sobre - MEIO--- */

.sobre {
  padding: 5px;
  width: auto;
  height: auto;
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  align-items: center;
  background-color: #ed2a44;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
  margin-top: 30px;
}

#intro {
  margin-bottom: 1em;
  width: 90%;
}

.sobre p {
  font-family: "Bebas Neue", cursive;
  color: #fdc41f;
  text-align: left;
  font-size: 17px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.479);
  width: 70%;
}

.sobre img {
  margin-right: 13%;
  width: 30%;
}

.sobre ul {
  list-style: none;
  margin-left: 3vw;
}

.sobre li :before {
  content: "\1F37B ";
}

@media (max-width: 999px) {
  .sobre {
    display: block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .sobre img {
    margin-right: 0;
    margin-top: 20px;
  }
}

/* ---Carrossel de fotos - MEIO--- */

.carrossel {
  display: flex;
  align-items: left;
  justify-content: left;
  margin: 30px 5%;
  min-height: 80vh;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: #00000054;
  overflow: hidden;
  height: auto;
  width: 90%;
}

.container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.carrossel img {
  object-fit: cover;
  width: 90vw; /* mudar no carousel.js também */
}

@media (max-width: 999px) {
  .carrossel {
    display: block;
    width: 90%;
    align-items: center;
    justify-content: center;
    min-height: 0;
  }
}

/* ---Mapa de localização - INFERIOR--- */

.mapa {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 30px;
  margin-top: 30px;
  z-index: 1;
}

.local-img {
  margin-left: 15%;
  display: flex;
  width: 70%;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  z-index: 0;
  margin-top: 30px;
}

/* ---Formulário de compra--- */

.formulario {
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

form {
  margin: 40px 0;
}

.input-padrao {
  display: flex;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

.enviar {
  width: 40%;
  padding: 15px 0;
  background: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
}

.enviar:hover {
  background: darkorange;
}

/* Footer */

footer {
  text-align: center;
  background-color: #cc2e45;
  margin-top: 50px;
  width: 100%;
  padding-top: 1em;
}

.rodape-img {
  width: 100%;
}

.copyright {
  color: #ffffff;
  font-family: bebas Neue, cursive;
  font-size: 20px;
  margin: 0px 0 0;
}

/* ---Estrutura da página--- */

@media (max-width: 999px) {
  .imagens {
    width: 300px;
    display: list-item;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
  }
  .sobre img {
    width: 100%;
  }
}

@media (max-width: 280px) {
  .imagens {
    width: 260px;
  }
  .imagens img {
    width: 260px;
  }
}
#videoBG {
  position: fixed;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}

